.container {
  width: 100%;
  margin: 1rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    margin-bottom: 0.5rem;
  }

  strong {
    font-size: 18px;
    color: var(--blue);
  }

  p {
    font-size: 14px;
    text-align: center;
  }
}
